<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinalMeal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FEA583F1CCE7C51000F03D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEA58531CCE7C52000F03D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEA585E1CCE7C52000F03D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
